<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ramapo.tweisse.konojava">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Welcome to Kono"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewTournamentActivity"
            android:label="Start New Tournament" />
        <activity
            android:name=".LoadTournamentActivity"
            android:label="Load Tournament" />
        <activity
            android:name=".PlayGameActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name=".SaveTournamentActivity" />
        <activity
            android:name=".ContinueTournamentActivity"
            android:label="Continue Tournament" />
    </application>

</manifest>